cycler==0.10
decorator==4.1
h5py==2.7
matplotlib==1.5
networkx==2.0
numpy>=1.0,<2.0
pandas==0.22
patsy==0.4
Pillow==5.0
pyparsing==2.2
python-dateutil==2.6
pytz==2017.3
PyWavelets==0.5
scikit-image==0.13
scikit-learn==0.19
scipy==1.0
six==1.11
statsmodels==0.8.0
mock==2.0